.post-container {
  width: 30%;
  height: 60vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid blue;
  border-radius: 20px;
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling */
}


.post-card img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s; /* Add a transition for scaling */
  /* Other styles... */
  transform: scale(1); /* Normal state, no scaling */
  z-index: 0;
}

.post-card img:hover {
  transform: scale(1.1); /* On hover, scale up by 10% (1.1 times) */
}

.post-username {
  color: white;
  text-shadow: 2px 2px 2px black;
  position: relative;
  display: block;
  font-size: 12px;
  margin-top: -55px;
}

.post-likes {
  color: white;
  text-shadow: 2px 2px 2px black;
  position: fixed;
  display: block;
  font-size: 12px;
  margin-left: 260px;
  z-index: 1;
}

.post-comments {
  background-color: lightgrey;
  color: black;
  padding: 5px;
}

.post-description {
  background-color: lightgrey;
  color: #333;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  padding: 5px;
}

